*{
    margin: 0;
    padding: 0;
}
body {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu {
    width: 100%;
    height: 10%;
    background-color: blue;
}
.foto{
    width: 30%;
    height: 100%;
    background-color: chartreuse;
}
.texto {
     width: 70%;
     height: 50%;
     background-color: coral;
}